<app-header>
</app-header>

<!--  Section-->
<section class="page-section shop" id="shop">
    <div class="container">
        <!--  Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Electronic Shopping</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!--  Grid Items-->
        <div class="row justify-content-center">
            <!--  Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="shop-item mx-auto" [routerLink]="['/air']">
                    <div class="shop-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="shop-item-caption-content text-center text-white"><a>Air Conditioning</a></div>
                    </div>
                    <img class="img-fluid" src="assets/img/air555.png" alt="" />
                </div>
            </div>
            <!--  Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="shop-item mx-auto" [routerLink]="['/fan']">
                    <div class="shop-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="shop-item-caption-content text-center text-white"><a>Fan</a></div>
                    </div>
                    <img class="img-fluid" src="assets/img/fan555.png" alt="" />
                </div>
            </div>
            <!--  Item 3-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="shop-item mx-auto" [routerLink]="['/dish']">
                    <div class="shop-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="shop-item-caption-content text-center text-white"><a>Dishwasher</a></div>
                    </div>
                    <img class="img-fluid" src="assets/img/Dishwashers555.png" alt="" />
                </div>
            </div>
            <!--  Item 4-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="shop-item mx-auto" [routerLink]="['/wash']">
                    <div class="shop-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="shop-item-caption-content text-center text-white"><a>Washing Machine</a></div>
                    </div>
                    <img class="img-fluid" src="assets/img/WashingMachines555.png" alt="" />
                </div>
            </div>
            <!--  Item 5-->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div class="shop-item mx-auto" [routerLink]="['/refri']">
                    <div class="shop-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="shop-item-caption-content text-center text-white"><a>Refrigerator</a></div>
                    </div>
                    <img class="img-fluid" src="assets/img/Refrigerators555.png" alt="" />
                </div>
            </div>
            <!--  Item 6-->
            <div class="col-md-6 col-lg-4">
                <div class="shop-item mx-auto" [routerLink]="['/tv']">
                    <div class="shop-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="shop-item-caption-content text-center text-white"><a>Television</a></div>
                    </div>
                    <img class="img-fluid" src="assets/img/tv555.png" alt="" />
                </div>
            </div>
            <!--  Item 6-->
            <div class="col-md-6 col-lg-4">
                <div class="shop-item mx-auto" [routerLink]="['/other']">
                    <div class="shop-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="shop-item-caption-content text-center text-white"><a>Other</a></div>
                    </div>
                    <img class="img-fluid" src="assets/img/tv555.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>