<app-header> </app-header>

<section class="py-5">
  <div class="container">
    <!--  Section Heading-->
    <h2
      class="
        page-section-heading
        text-center text-uppercase text-secondary
        mb-0
      "
    >
      Electronic Shopping
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
  </div>

  <div class="container">


    <form action="/action_page.php" >
        
        <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="hero-content">
                <h1 class="wow fadeInUp" data-wow-delay=".2s">
                  ยินดีต้อนรับ
                </h1>
                    
                <p class="wow fadeInUp" data-wow-delay=".4s">
                  “90% ของลูกค้ายืนยันว่าบริการของเราดีที่สุด”
                  “ลูกค้า 9 คนจาก 10 คนยืนยีนว่าบริการของเราดีที่สุด”
                </p>
                
                <!-- <a
                  href="javascript:void(0)"
                  class="main-btn btn-hover wow fadeInUp"
                  data-wow-delay=".6s"
                  >Download App</a
                > -->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
                <img src="assets/img/hero/hero-img.svg" alt="" />
              </div>
            </div>
          </div>

    </form>

    
  </div>
</section>

<app-footer></app-footer>
