<app-admin-nav>
</app-admin-nav>

<app-managements></app-managements>

<!-- table -->



<div class="row">
    <div class="col-xl-12 mb-30">
        <div class="card card-statistics h-100">
            <div class="card-body">
                <!-- <button type="button" class="btn btn-sm btn-primary mb-2" data-toggle="modal" data-target="#modal_addcate" (click)="openModal('modal_addcate')">
          <i class="fa fa-plus"></i> Add Air-Conditioning
        </button> -->
                <div class="d-block d-md-flex justify-content-between">
                    <div class="table-responsive mt-15">
                        <table class="table table-hover table-bordered flex-md-nowrap" datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Total Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let amount of amountAir">
                                    <td>Air-Conditioning</td>
                                    <td>{{amount.total}}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" [routerLink]="['/manage-air']" style="color: white">
                      Detail</button
                    >&nbsp;
                  </td>
                                </tr>

                                <tr *ngFor="let amount of amountFan">
                                    <td>Electric-Fan</td>
                                    <td>{{amount.total}}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" [routerLink]="['/manage-fan']" style="color: white">
                      Detail</button
                    >&nbsp;
                  </td>
                                </tr>
                                <tr *ngFor="let amount of amountDish">
                                    <td>Dishwasher</td>
                                    <td>{{amount.total}}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" [routerLink]="['/manage-dish']" style="color: white">
                      Detail</button
                    >&nbsp;
                  </td>
                                </tr>

                                <tr *ngFor="let amount of amountRefri">
                                    <td>Refrigerator</td>
                                    <td>{{amount.total}}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" [routerLink]="['/manage-refri']" style="color: white">
                      Detail</button
                    >&nbsp;
                  </td>
                                </tr>
                                <tr *ngFor="let amount of amountTv">
                                    <td>Television</td>
                                    <td>{{amount.total}}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" [routerLink]="['/manage-tv']" style="color: white">
                      Detail</button
                    >&nbsp;
                  </td>
                                </tr>
                                <tr *ngFor="let amount of amountWash">
                                    <td>Washing-Machines</td>
                                    <td>{{amount.total}}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" [routerLink]="['/manage-wash']" style="color: white">
                      Detail</button
                    >&nbsp;
                  </td>
                                </tr>

                                <tr *ngFor="let amount of amountOther">
                                    <td>Product Other</td>
                                    <td>{{amount.total}}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning" [routerLink]="['/manage-other']" style="color: white">
                      Detail</button
                    >&nbsp;
                  </td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Product</th>
                                    <th>Total Amount</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>