<div class="container">
    <div class="login-container">
        <div id="output"></div>
        <div class="avatar"></div>
        <div class="form-box">
            <form [formGroup]="login_form" (ngSubmit)="onSubmit(this.login_form)">

                <input id="username" name="username" type="text" placeholder="username" formControlName="username">
                <input id="password" name="password" type="password" placeholder="password" formControlName="password">
                <button class="btn btn-info btn-block login " type="submit ">Login</button>
            </form>
        </div>
    </div>

</div>