
# dependencies
/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# node.js
package-lock.json
build
npm-debug.log
.DS_Store
log


#upload
/backend/public/*