<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>

                    <!-- Air-Condition -->
                    <tr *ngFor='let item of countAir'>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left"> <img class="img-fluid" src="{{ item.file }}" style="width: 100px; height: 100px;" /> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a>{{item.name}}</a></h4>
                                    <h5 class="media-heading"> by <a>{{item.brand}}</a></h5>

                                </div>
                            </div>
                        </td>
                        <td class="col-sm-6 col-md-6" style="text-align: center">

                            <input type="number" class="form-control" [value]='item.amount' (change)="airChangeAmount($event,item)">

                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{item.price }}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{airTotalPrice(item.amount,item.price)}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>

                    <!-- Fan -->
                    <tr *ngFor='let item of countFan'>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left"> <img class="img-fluid" src="{{ item.file }}" style="width: 100px; height: 100px;" /> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a>{{item.name}}</a></h4>
                                    <h5 class="media-heading"> by <a>{{item.brand}}</a></h5>

                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="text" class="form-control" [value]='item.amount' (change)="fanChangeAmount($event,item)">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{item.price}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{fanTotalPrice(item.amount,item.price)}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>

                    <!-- Dishwasher -->
                    <tr *ngFor='let item of countDish'>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left"> <img class="img-fluid" src="{{ item.file }}" style="width: 100px; height: 100px;" /> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a>{{item.name}}</a></h4>
                                    <h5 class="media-heading"> by <a>{{item.brand}}</a></h5>

                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="text" class="form-control" [value]='item.amount' (change)="dishChangeAmount($event,item)">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{item.price}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{dishTotalPrice(item.amount,item.price)}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>

                    <!-- Refrigerator -->
                    <tr *ngFor='let item of countRefri'>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left"> <img class="img-fluid" src="{{ item.file }}" style="width: 100px; height: 100px;" /> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a>{{item.name}}</a></h4>
                                    <h5 class="media-heading"> by <a>{{item.brand}}</a></h5>

                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="text" class="form-control" [value]='item.amount' (change)="refriChangeAmount($event,item)">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{item.price}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{refriTotalPrice(item.amount,item.price)}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>

                    <!-- Tv -->
                    <tr *ngFor='let item of countTv'>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left"> <img class="img-fluid" src="{{ item.file }}" style="width: 100px; height: 100px;" /> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a>{{item.name}}</a></h4>
                                    <h5 class="media-heading"> by <a>{{item.brand}}</a></h5>

                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="text" class="form-control" [value]='item.amount' (change)="tvChangeAmount($event,item)">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{item.price}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{tvTotalPrice(item.amount,item.price)}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>

                    <!-- WashingMachine -->
                    <tr *ngFor='let item of countWash'>
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left"> <img class="img-fluid" src="{{ item.file }}" style="width: 100px; height: 100px;" /> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a>{{item.name}}</a></h4>
                                    <h5 class="media-heading"> by <a>{{item.brand}}</a></h5>

                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="text" class="form-control" [value]='item.amount' (change)="washChangeAmount($event,item)">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{item.price}}</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{washTotalPrice(item.amount,item.price)}}</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button></td>
                    </tr>

                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h5>Subtotal</h5>
                        </td>
                        <td class="text-right">
                            <h5><strong>$24.59</strong></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h5>Estimated shipping</h5>
                        </td>
                        <td class="text-right">
                            <h5><strong>$6.94</strong></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h3>Total</h3>
                        </td>
                        <td class="text-right">
                            <h3><strong>{{TOTALVAR}}</strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <button type="button" class="btn btn-primary" [routerLink]="['/home']">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Back to Shopping
                        </button></td>
                        <td>
                            <button type="button" class="btn btn-success" [routerLink]="['/checkout']">
                            Checkout <span class="glyphicon glyphicon-play"></span>
                        </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>