<app-header></app-header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <div class="panel panel-default"></div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a [routerLink]="['/air']" href="#">Air Conditioning</a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a [routerLink]="['/dish']" href="#">Dishwasher</a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a [routerLink]="['/fan']" href="#">Electric Fan</a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a [routerLink]="['/refri']" href="#">Refrigerator</a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a [routerLink]="['/tv']" href="#">Television</a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a [routerLink]="['/wash']" href="#">Washing Machines</a>
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a [routerLink]="['/other']" href="#">Other</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">ELECTRIC FAN</h2>

                    <!--  Grid Items-->
                    <div class="row">
                        <!--  Item 1-->
                        <div class="col-md-6 col-lg-4 mb-5" *ngFor="let item of masterFans">
                            <div class="shop-item mx-auto">
                                <img class="img-fluid" src="{{ item.file }}" alt="" />
                                <div class="shop-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="productinfo text-center">
                                        <p>{{ item.name }}</p>
                                        <h1>{{ item.price }} บาท</h1>
                                        <button type="button" class="btn btn-primary" (click)="addToCart()">
                      Add to Cart
                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>