<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" >SHOP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fa fa-home"></i>
            Home
            <span class="sr-only">(current)</span>
            </a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-envelope-o">
              <!-- <span class="badge badge-primary">11</span> -->
            </i>
            Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
            <a class="dropdown-item" [routerLink]="['/group', item.group_sys_id]" *ngFor = 'let item of category'>{{item.category_name}}</a>
          </div>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <ul class="navbar-nav ">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cart']">
                <i class="fa fa-shopping-cart">
          <span class="badge badge-success">{{counter}}</span>
        </i> Cart
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle-o">
          <!-- <span class="badge badge-primary">11</span> -->
        </i> Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- <a class="dropdown-item" [routerLink]="['/login']">Login</a> -->
                <a class="dropdown-item" data-toggle="modal" data-target="#register">Register</a>

            </div>

           
        </li>

        



        <li class="nav-item" *ngIf="Islogin === true">
            <a class="nav-link" (click)="logout()">
                <i class="fa fa-sign-out">
          <!-- <span class="badge badge-success">{{counter}}</span> -->
        </i> Logout
            </a>
        </li>
        <li class="nav-item" *ngIf="Islogin === false">
            <a class="nav-link" (click)="login()">
                <i class="fa fa-sign-in">
          <!-- <span class="badge badge-success">{{counter}}</span> -->
        </i> Login
            </a>
        </li>
    </ul>

     
    </div>
  </nav>

<!-- register -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        
            <div class="modal-content">
                            
                <section class="section-content padding-y">
    
                    <!-- ============================ COMPONENT REGISTER   ================================= -->
                        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
                          <article class="card-body">
                            <header class="mb-4"><h4 class="card-title">Sign up</h4></header>
                            <form [formGroup]="register_form" (ngSubmit)="OnSubmit(this.register_form)">
                                    <div class="form-row">
                                        <div class="col form-group">
                                            <label>Username</label>
                                              <input type="text" name="username" class="form-control" placeholder="username" formControlName="username">
                                        </div> <!-- form-group end.// -->
                                        <div class="col form-group">
                                            <label>Password</label>
                                              <input type="password" name="password" class="form-control" placeholder="password" formControlName="password">
                                        </div> <!-- form-group end.// -->
                                    </div> <!-- form-row end.// -->
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" name="name" class="form-control" placeholder="name" formControlName="name" formControlName="name">
                                    </div> <!-- form-group end.// -->
                
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" name="email" class="form-control" placeholder="" formControlName="email">
                                        <div *ngIf="(email.invalid && email.touched) || email.dirty">
                                            <small *ngIf="email.errors?.required" class="text-danger">Secondary email is required</small>
                                            <small *ngIf="email.errors?.pattern" class="text-danger">Please provide a valid email address</small>
                                          </div>
                                    </div> <!-- form-group end.// -->
                
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <input type="text" name="phone" class="form-control" placeholder="" formControlName="phone">
                                        <div *ngIf="f.phone.touched && f.phone.invalid" class="alert alert-danger">
                                            <div *ngIf="f.phone.errors.required">Mobile Number is required.</div>
                                            <div *ngIf="f.phone.errors.pattern">Please, Enter 10 digit Mobile Number.</div>
                                        </div>
                                    </div> <!-- form-group end.// -->
                
                                    <div class="form-group">
                                        <label>Address</label>
                                        <textarea type="text" name="address" class="form-control" placeholder="" class="form-control" rows="7" cols="8" formControlName="address"></textarea>
                                    </div> <!-- form-group end.// -->
                
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                          <label>City</label>
                                          <input type="text" name="city" class="form-control" formControlName="city">
                                        </div> <!-- form-group end.// -->
                                        <div class="form-group col-md-6">
                                            <label>State</label>
                                            <input type="text" name="state" class="form-control" formControlName="state">
                                          </div> <!-- form-group end.// -->
                                          <div class="form-group col-md-6">
                                            <label>Zip</label>
                                            <input type="text" name="zip" class="form-control" formControlName="zip" maxlength="5">
                                            <div *ngIf="f.zip.touched && f.zip.invalid" class="alert alert-danger">
                                                <div *ngIf="f.zip.errors.required">Number is required.</div>
                                                <div *ngIf="f.zip.errors.pattern">Enter only number.</div>
                                            </div>
                                          </div> <!-- form-group end.// -->
                                    </div> <!-- form-row.// -->
                                    
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-block" type="submit" [disabled]="!register_form.valid"> Register </button>
                                    </div> <!-- form-group// -->      
                                        
                                </form>
                            </article><!-- card-body.// -->
                        </div> <!-- card .// -->
                        <!-- <p class="text-center mt-4">Have an account? <a [routerLink]="['/login']" >Log In</a></p> -->
                        <br><br>
                    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
                    
                    
                    </section>
                    <!-- ========================= SECTION CONTENT END// ========================= -->

            </div>
        
    </div>
</div>


