<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header> DATA </nb-card-header>
  
        <nb-card-body>
            <form
          [formGroup]="find_form"
        >
        <div class="form-group row">
            <div class="col-sm-9">
            <nb-select
              placeholder="Select Catagory"
              id="category_sys_id"
              formControlName="category_sys_id"
              [(ngModel)]="selectedCategory"
              (selectedChange)="onSelectedCategory($event)"
            >
              <nb-option
                *ngFor="let item of category_option"
                [value]="item.category_sys_id"
                >{{ item.category_name }}</nb-option
              >
            </nb-select>
          </div>
        </div>


        <div class="form-group row">
         
          <div class="col-sm-9">
            <nb-select
              placeholder="Select Group"
              id="group_sys_id"
              formControlName="group_sys_id"
              [(ngModel)]="selectedGroup"
              (selectedChange)="onselectedGroup($event)"
            >
              <nb-option
                *ngFor="let item of findGroup"
                [value]="item.group_sys_id"
                >{{ item.group_name }}</nb-option
              >
            </nb-select>
          </div>
        </div>

        </form>

          <ng2-smart-table [settings]="settings" [source]="findSomeProduct">
          </ng2-smart-table>
        </nb-card-body>
      </nb-card>
    </div>
  </div>