<app-header></app-header>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <h2>Category</h2>
                <div class="panel-group category-products" id="accordian">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a [routerLink]="['/all-product']">All Product</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a [routerLink]="['/air']">Air Conditioning</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a [routerLink]="['/dish']">Dishwasher</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a [routerLink]="['/fan']">Electric Fan</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a [routerLink]="['/refri']">Refrigerator</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a [routerLink]="['/tv']">Television</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a [routerLink]="['/wash']">Washing Machines</a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a [routerLink]="['/other']">Other</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9 padding-right">
            <div class="features_items">
                <h2 class="title text-center">AIR CONDITIONING</h2>

                <!--  Grid Items-->
                <div class="row">
                    <!--  Item 1-->
                    <div class="col-md-6 col-lg-4 mb-5" *ngFor="let item of masterAir">
                        <div class="shop-item mx-auto">
                            <img class="img-fluid" src="{{ item.file }}" style="width: 200px; height: 200px;" />
                            <div class="shop-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="productinfo text-center">
                                    <p>{{ item.name }}</p>
                                    <h1>{{ item.price }} บาท</h1>
                                    <button type="button" class="btn btn-primary" (click)="addAirToCart(item)">
                    Add to Cart
                  </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5" *ngFor="let item of masterDishwasher">
                        <div class="shop-item mx-auto">
                            <img class="img-fluid" src="{{ item.file }}" style="width: 200px; height: 200px;" />
                            <div class="shop-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="productinfo text-center">
                                    <p>{{ item.name }}</p>
                                    <h1>{{ item.price }} บาท</h1>
                                    <button type="button" class="btn btn-primary" (click)="addDishToCart(item)">
                    Add to Cart
                  </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  Item 3-->
                    <div class="col-md-6 col-lg-4 mb-5" *ngFor="let item of masterFans">
                        <div class="shop-item mx-auto">
                            <img class="img-fluid" src="{{ item.file }}" style="width: 200px; height: 200px;" />
                            <div class="shop-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="productinfo text-center">
                                    <p>{{ item.name }}</p>
                                    <h1>{{ item.price }} บาท</h1>
                                    <button type="button" class="btn btn-primary" (click)="addFanToCart(item)">
Add to Cart
</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  Item 4-->
                    <div class="col-md-6 col-lg-4 mb-5" *ngFor="let item of masterRefrigerator">
                        <div class="shop-item mx-auto">
                            <img class="img-fluid" src="{{ item.file }}" style="width: 200px; height: 200px;" />
                            <div class="shop-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="productinfo text-center">
                                    <p>{{ item.name }}</p>
                                    <h1>{{ item.price }} บาท</h1>
                                    <button type="button" class="btn btn-primary" (click)="addRefriToCart(item)">
                    Add to Cart
                  </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  Item 5-->
                    <div class="col-md-6 col-lg-4 mb-5" *ngFor="let item of masterTelevision">
                        <div class="shop-item mx-auto">
                            <img class="img-fluid" src="{{ item.file }}" style="width: 200px; height: 200px;" />
                            <div class="shop-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="productinfo text-center">
                                    <p>{{ item.name }}</p>
                                    <h1>{{ item.price }} บาท</h1>
                                    <button type="button" class="btn btn-primary" (click)="addTvToCart(item)">
                    Add to Cart
                  </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  Item 6-->
                    <div class="col-md-6 col-lg-4 mb-5" *ngFor="let item of masterOther">
                        <div class="shop-item mx-auto">
                            <img class="img-fluid" src="{{ item.file }}" style="width: 200px; height: 200px;" />
                            <div class="shop-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="productinfo text-center">
                                    <p>{{ item.name }}</p>
                                    <h1>{{ item.price }} บาท</h1>
                                    <button type="button" class="btn btn-primary" (click)="addOtherToCart(item)">
Add to Cart
</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  Item 7-->
                    <div class="col-md-6 col-lg-4 mb-5" *ngFor="let item of masterWashingMachine">
                        <div class="shop-item mx-auto">
                            <img class="img-fluid" src="{{ item.file }}" style="width: 200px; height: 200px;" />
                            <div class="shop-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="productinfo text-center">
                                    <p>{{ item.name }}</p>
                                    <h1>{{ item.price }} บาท</h1>
                                    <button type="button" class="btn btn-primary" (click)="addWashToCart(item)">
                    Add to Cart
                  </button>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>