<div class="form-row">
  <div class="form-group col-md-6">
    <!-- <div class="row">
            <div class="col-sm-6" style="margin:auto"> -->
    <nb-card>
      <nb-card-header>Add Group</nb-card-header>
      <nb-card-body>
        <form
          class="form-horizontal"
          [formGroup]="group_add_form"
          (ngSubmit)="OnSubmit(this.group_add_form)"
        >
          <div class="form-group row">
            <label for="" class="label col-sm-2 form-control-label"
              >Catagory</label
            >
            <div class="col-sm-9">
              <nb-select
                placeholder="Select Catagory"
                id="category_sys_id"
                formControlName="category_sys_id"
              >
                <nb-option
                  *ngFor="let item of category_option"
                  [value]="item.category_sys_id"
                  >{{ item.category_name }}</nb-option
                >
              </nb-select>
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="label col-sm-2 form-control-label"
              >Group Name</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                id="group_name"
                placeholder="Group Name"
                formControlName="group_name"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="label col-sm-2 form-control-label"
              >Photo</label
            >
            <div class="col-sm-9">
              <input
                type="file"
                nbInput
                id="avatar"
                placeholder="Photo"
                formControlName="avatar"
                (change)="onFileChange($event)"
              />
            </div>
          </div>

          <button
            type="submit"
            nbButton
            status="success"
            style="float: right"
            [disabled]="!group_add_form.valid"
          >
            Submit
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>

  <!-- edit -->

  <div class="form-group col-md-6">
    <!-- <div class="row">
            <div class="col-sm-6" style="margin:auto"> -->
    <nb-card>
      <nb-card-header>Edit Group</nb-card-header>
      <nb-card-body>
        <form
          class="form-horizontal"
          [formGroup]="group_edit_form"
          (ngSubmit)="EditOnSubmit(this.group_edit_form)"
        >
          <div class="form-group row">
            <label for="" class="label col-sm-2 form-control-label"
              >Catagory</label
            >
            <nb-select
              placeholder="Select Catagory"
              id="category_sys_id"
              formControlName="category_sys_id"
              [(ngModel)]="selectedEditCategory"
              (selectedChange)="onSelectedEditCategory($event)"
            >
              <nb-option
                *ngFor="let item of edit_category_option"
                [value]="item.category_sys_id"
                >{{ item.category_name }}</nb-option
              >
            </nb-select>
          </div>

          <div class="form-group row">
            <label for="" class="label col-sm-2 form-control-label"
              >Group</label
            >
            <nb-select
              placeholder="Select Group"
              id="group_sys_id"
              formControlName="group_sys_id"
            >
              <nb-option
                *ngFor="let item of findEditGroup"
                [value]="item.group_sys_id"
                >{{ item.group_name }}</nb-option
              >
            </nb-select>
          </div>

          <div class="form-group row">
            <label for="" class="label col-sm-2 form-control-label"
              >Change Group Name</label
            >
            <div class="col-sm-9">
              <input
                type="text"
                nbInput
                id="group_name"
                placeholder="Group Name"
                formControlName="group_name"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="" class="label col-sm-2 form-control-label"
              >Photo</label
            >
            <div class="col-sm-9">
              <input
                type="file"
                nbInput
                id="avatar"
                placeholder="Photo"
                formControlName="avatar"
                (change)="onFileChange($event)"
              />
            </div>
          </div>

          <button
            type="submit"
            nbButton
            status="warning"
            style="float: right"
            [disabled]="!group_edit_form.valid"
          >
            Edit
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header> DATA </nb-card-header>

      <nb-card-body>
        <ng2-smart-table
          [settings]="settings"
          [source]="masterGroup"
          (deleteConfirm)="onDeleteConfirm($event)"
        >
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
